{% extends 'EduEleraningBundle:Manager:main.html.twig' %}


{% block main %}
        <table class="table table-bordered table-hover" style="text-align: center;direction: rtl">
            <thead>
                <tr>
                    <th>کد استاد</th>
                    <th>نام </th>
                    <th>نام خانوادگی</th>
                    <th>تلفن </th>
                    <th>کدملی</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>{{ teacher.id }}</td>
                        <td>{{ teacher.fname }}</td>
                        <td>{{ teacher.lname }}</td>
                        <td>{{ teacher.phone }}</td>
                        <td>{{ teacher.melicode }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}