{% extends 'EduEleraningBundle:Manager:main.html.twig' %}


{% block main %}
        <table class="table table-bordered table-hover" style="text-align: center;direction: rtl">
            <thead>
                <tr>
                    <th>کد درس</th>
                    <th>نام </th>
                    <th>توضیحات</th>
                    <th>رمز ثبت نام</th>
                    <th>استاد</th>
                </tr>
            </thead>
            <tbody>
                {% for lesson in lessons %}
                    <tr>
                        <td>{{ lesson.id }}</td>
                        <td>{{ lesson.name }}</td>
                        <td>{{ lesson.explaination }}</td>
                        <td>{{ lesson.password }}</td>
                        <td>{{ lesson.teacher }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}